<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @service.remote_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @service.start_date %>
</p>

<p>
  <strong>Raw html 1:</strong>
  <%= @service.raw_html_1 %>
</p>

<p>
  <strong>Raw html 2:</strong>
  <%= @service.raw_html_2 %>
</p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @service.slug %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
