<%= form_for(@webexchange) do |f| %>
  <% if @webexchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webexchange.errors.count, "error") %> prohibited this webexchange from being saved:</h2>

      <ul>
      <% @webexchange.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :service_code %><br>
    <%= f.text_field :service_code %>
  </div>
  <div class="field">
    <%= f.label :this_month %><br>
    <%= f.text_area :this_month %>
  </div>
  <div class="field">
    <%= f.label :next_month %><br>
    <%= f.text_area :next_month %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
