
<table id="tblCal" cellspacing="0" cellpadding="4" align="Center" border="0" style="color:Black;border-color:#E0E0E0;border-width:2px;border-style:Solid;font-family:Arial;font-size:9pt;width:100%;border-collapse:collapse;">
	<caption>
		<b><span class=subheadline>Monthly On-Call Schedule for: EPS Office, HUP On September, 2014</span></b><br/>
	</caption><thead>
		<tr class="TableHeader" align="center">
			<th style="border-width:2px;border-style:Groove;">Sun</th><th style="border-width:2px;border-style:Groove;">Mon</th><th style="border-width:2px;border-style:Groove;">Tue</th><th style="border-width:2px;border-style:Groove;">Wed</th><th style="border-width:2px;border-style:Groove;">Thu</th><th style="border-width:2px;border-style:Groove;">Fri</th><th style="border-width:2px;border-style:Groove;">Sat</th>
		</tr>
	</thead><tbody>
		<tr id="r_36" valign="top">
			<td style="border-width:2px;border-style:Groove;white-space:nowrap;"><br/>&nbsp;<br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table><br/><br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table></td><td tabindex="1" style="background-color:LightYellow;border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_01" class="LabelBigBlack">1</span>
			</div><u>As of:<br/>09/01/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="2" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_02" class="LabelBigBlack">2</span>
			</div><u>As of:<br/>09/02/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>No one on-call</td></tr></table><br/><u>As of:<br/>09/02/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="3" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_03" class="LabelBigBlack">3</span>
			</div><u>As of:<br/>09/03/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>No one on-call</td></tr></table><br/><u>As of:<br/>09/03/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="4" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_04" class="LabelBigBlack">4</span>
			</div><u>As of:<br/>09/04/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>No one on-call</td></tr></table><br/><u>As of:<br/>09/04/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="5" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_05" class="LabelBigBlack">5</span>
			</div><u>As of:<br/>09/05/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>No one on-call</td></tr></table><br/><u>As of:<br/>09/05/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="6" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_06" class="LabelBigBlack">6</span>
			</div><u>As of:<br/>09/06/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td>
		</tr><tr id="r_37" valign="top">
			<td tabindex="7" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_07" class="LabelBigBlack">7</span>
			</div><u>As of:<br/>09/07/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap><b>Fellow</b></td><td nowrap>&nbsp;</td></tr><tr><td nowrap><b>Attending</b></td><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table><br/>&nbsp;<br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table></td><td tabindex="8" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_08" class="LabelBigBlack">8</span>
			</div><u>As of:<br/>09/08/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/08/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>LoRe, Vincent  MD, msce, 2153744366</td></tr></table></td><td tabindex="9" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_09" class="LabelBigBlack">9</span>
			</div><u>As of:<br/>09/09/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/09/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>LoRe, Vincent  MD, msce, 2153744366</td></tr></table></td><td tabindex="10" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_10" class="LabelBigBlack">10</span>
			</div><u>As of:<br/>09/10/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/10/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>LoRe, Vincent  MD, msce, 2153744366</td></tr></table></td><td tabindex="11" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_11" class="LabelBigBlack">11</span>
			</div><u>As of:<br/>09/11/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/11/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>LoRe, Vincent  MD, msce, 2153744366</td></tr></table></td><td tabindex="12" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_12" class="LabelBigBlack">12</span>
			</div><u>As of:<br/>09/12/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/12/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>LoRe, Vincent  MD, msce, 2153744366</td></tr></table></td><td tabindex="13" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_13" class="LabelBigBlack">13</span>
			</div><u>As of:<br/>09/13/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Kostman, Jay R., MD, 2159006831</td></tr></table></td>
		</tr><tr id="r_38" valign="top">
			<td tabindex="14" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_14" class="LabelBigBlack">14</span>
			</div><u>As of:<br/>09/14/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap><b>Fellow</b></td><td nowrap>No one on-call</td></tr><tr><td nowrap><b>Attending</b></td><td nowrap>Kostman, Jay R., MD, 2159006831</td></tr></table><br/>&nbsp;<br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table></td><td tabindex="15" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_15" class="LabelBigBlack">15</span>
			</div><u>As of:<br/>09/15/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/15/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td><td tabindex="16" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_16" class="LabelBigBlack">16</span>
			</div><u>As of:<br/>09/16/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/16/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td><td tabindex="17" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_17" class="LabelBigBlack">17</span>
			</div><u>As of:<br/>09/17/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/17/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td><td tabindex="18" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_18" class="LabelBigBlack">18</span>
			</div><u>As of:<br/>09/18/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/18/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td><td tabindex="19" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_19" class="LabelBigBlack">19</span>
			</div><u>As of:<br/>09/19/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Frasca, Katherine L., MD, 2152652628</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/19/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td><td tabindex="20" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_20" class="LabelBigBlack">20</span>
			</div><u>As of:<br/>09/20/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table></td>
		</tr><tr id="r_39" class="pagebreak" valign="top">
			<td tabindex="21" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_21" class="LabelBigBlack">21</span>
			</div><u>As of:<br/>09/21/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap><b>Fellow</b></td><td nowrap>No one on-call</td></tr><tr><td nowrap><b>Attending</b></td><td nowrap>Kelly, Brendan J., MD, 2152650568</td></tr></table><br/>&nbsp;<br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table></td><td tabindex="22" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_22" class="LabelBigBlack">22</span>
			</div><u>As of:<br/>09/22/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/22/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="23" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_23" class="LabelBigBlack">23</span>
			</div><u>As of:<br/>09/23/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/23/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="24" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_24" class="LabelBigBlack">24</span>
			</div><u>As of:<br/>09/24/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/24/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="25" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_25" class="LabelBigBlack">25</span>
			</div><u>As of:<br/>09/25/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/25/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="26" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_26" class="LabelBigBlack">26</span>
			</div><u>As of:<br/>09/26/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/26/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td><td tabindex="27" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_27" class="LabelBigBlack">27</span>
			</div><u>As of:<br/>09/27/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>No one on-call</td></tr><tr><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table></td>
		</tr><tr id="r_40" valign="top">
			<td tabindex="28" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_28" class="LabelBigBlack">28</span>
			</div><u>As of:<br/>09/28/2014 08:30 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap><b>Fellow</b></td><td nowrap>No one on-call</td></tr><tr><td nowrap><b>Attending</b></td><td nowrap>Maniglia, Richard J., MD, 2158129090</td></tr></table><br/>&nbsp;<br/><br/><table border=0 cellspacing=0 cellpadding=1 bordercolor='Silver' width='100%'><tr><td bgcolor='Lavender' nowrap><b>Fellow</b></td></tr><tr><td nowrap><b>Attending</b></td></tr></table></td><td tabindex="29" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_29" class="LabelBigBlack">29</span>
			</div><u>As of:<br/>09/29/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/29/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>O'Donnell, Judith A., MD, 2152833606</td></tr></table></td><td tabindex="30" style="border-width:2px;border-style:Groove;white-space:nowrap;"><div class="Panel" style="text-align:right;">
				<span id="d_30" class="LabelBigBlack">30</span>
			</div><u>As of:<br/>09/30/2014 07:00 AM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>Coppock, Dagan E., MD, 2153632758</td></tr><tr><td nowrap>&nbsp;</td></tr></table><br/><u>As of:<br/>09/30/2014 05:00 PM</u><table border=0 cellspacing=0 cellpadding=1 width='100%' bordercolor='Silver'><tr bgcolor='Lavender'><td nowrap>&nbsp;</td></tr><tr><td nowrap>O'Donnell, Judith A., MD, 2152833606</td></tr></table></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td>
		</tr><tr valign="top">
			<td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td><td style="border-width:2px;border-style:Groove;"></td>
		</tr>
	</tbody>
</table>