<%= form_for(@amion) do |f| %>
  <% if @amion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amion.errors.count, "error") %> prohibited this amion from being saved:</h2>

      <ul>
      <% @amion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account %><br>
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :users %><br>
    <%= f.text_area :users %>
  </div>
  <div class="field">
    <%= f.label :rows %><br>
    <%= f.text_area :rows %>
  </div>
  <div class="field">
    <%= f.label :on_call %><br>
    <%= f.text_area :on_call %>
  </div>
  <div class="field">
    <%= f.label :all_shifts %><br>
    <%= f.text_area :all_shifts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
