<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @amion.account %>
</p>

<p>
  <strong>Users:</strong>
  <%= @amion.users %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @amion.rows %>
</p>

<p>
  <strong>On call:</strong>
  <%= @amion.on_call %>
</p>

<p>
  <strong>All shifts:</strong>
  <%= @amion.all_shifts %>
</p>

<%= link_to 'Edit', edit_amion_path(@amion) %> |
<%= link_to 'Back', amions_path %>
