<!DOCTYPE html>
<html>
<head>
  <title>Tranquilapi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<p>Signed in as <%= current_user.name %>. <%= link_to "Sign out", root_url + "?key=" %></p>
<% end %>
<% if (current_user and current_user.admin) or User.all.size == 0 %>
	<p><%= link_to "Edit Users", users_path %></p>
<% end %>
<%= yield %>

</body>
</html>
